<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReactSwiftly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22C6194C1BBD08FF00AAF114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C619631BBD08FF00AAF114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C6196E1BBD08FF00AAF114</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
